<div id="loader-container" class="loader-container" *ngIf="bIsLoading">
    <div class="loader-spinner">
      <svg class="circular">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
      </svg>
    </div>
    <div class="loader-item">
      <div id="loader-text" class="loader-text">Preparing Claim for {{globalValues.companyName}}...</div>
    </div>
  </div>

<!-- <div id="start-process" *ngIf="bStartProcess">
<adf-cloud-start-process
    [appName]="'claims-test'"
    name="FNOL-GP-3"
    [processDefinitionName]="'testGateways'"
    (success)="processSuccess($event)"
    (cancel)="processCancel()"
    [variables]="{'claimId':'12345', 'companyName':'Ace Hardware', 'claimFolderName':'-root-/Sites/claims/documentLibrary/Commercial Auto/Acme/12345'}"
>
</adf-cloud-start-process>
</div> -->

<div id="show-results" *ngIf="bShowResults">
    <h2>Start Process completed</h2>
    <b>Results</b><br>
    {{results}}
</div>

<div id="show-task-form" *ngIf="bShowTaskForm">
  <p>appName: {{globalValues.appName}} <br> taskId (formTaskId): {{formTaskId}} - Claim: {{globalValues.claimNumber}} - Claim Folder: {{ globalValues.claimFolderName}}</p>

  <adf-cloud-task-form 
    [appName]="globalValues.appName"
    [taskId]="formTaskId"
    [showTitle]=false
    [showSaveButton]="false"
    (formCompleted)="taskFormCompleted($event)"
    (cancelClick)="taskFormCancel($event)"
    (error)="taskFormError($event)"
    >
  </adf-cloud-task-form>
  
</div>
